/*

* Olas - https://getwaves.io/
*
* Copyright ©Quelopande 2023 Alright reserved

*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
body{
    background-color: #131313;
    margin-bottom: -15px;
}
.center{
    margin-left: 50px;
    margin-right: 50px;
}
.computer-vr nav{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #252525;
    border-radius: 205px;
    height: 80px;
}
.computer-vr nav img{
    border-radius: 48px;
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
}
.computer-vr nav ul{
    list-style: none;
}
.computer-vr nav li{
    float: left;
}
.computer-vr nav a{
    color: #c4c4c4;
    padding-right: 40px;
    margin-top: -7px;
    display: block;
    text-decoration: none;
}
.computer-vr nav a:hover{
    color: #ffffff;
}
.icon{
    position: absolute;
    border: solid 1px rgb(87, 87, 87);
    padding: 5px;
    top: 27px;
    border-radius: 15px;
    font-size: 30px;
    right: 25px;
}
.icon:hover{
    background-color: #2f2f2f;
    cursor: pointer;
}
.icon:active{
    background-color: #3a3a3a;
}
/* mobile */
.mobile-vr{
    color: white;
}
.mobile-vr img{
    border-radius: 48px;
    margin-top: 10px;
    margin-left: 20px;
    width: 70px;
    height: 70px;
    z-index: 100;
}
.mobile-vr nav{
    background-color: #0f0f0f;
    border: solid 2px rgb(87, 87, 87);
    height: 200px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -10px;
    border-radius: 10px;
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-content: center;
    padding-top: 250px;
    transform: var(--state-menu);
    transition: .3s transform;
    z-index: 1;
    display: none;
}
.mobile-vr nav ul{
    list-style: none;
    margin-top: -100px;
}
.mobile-vr .controls i{
    font-size: 25px;
    position: absolute;
    right: 30px;
    padding: 6px 8px 6px 8px;
    top: 38px;
    z-index: 3;
}
.fa-solid.fa-xmark{
    display: none;
}
.mobile-vr nav li{
    padding: 0px 30px;
    margin-top: 40px;
}
.mobile-vr nav a{
    color: white;
    text-decoration: none;
}
.mobile-vr .icon{
    position: absolute;
    right: 90px;
    top: 35px;
}
/* hero */
.hero{
    font-family: "Funnel Display", sans-serif;
    border-radius: 56px;
    margin-top: -10vh !important;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero div{
    display: flex;
}
.hero h1{
    font-size: 100px;
    background-color: #1e1e1e;
    padding: 10px;
    color: white;
}
.hero span{
    color: rgb(255, 74, 74);
}
.hero div h2 {
    padding: 10px;
    background-color: #1e1e1e;
    color: #c2c2c2;
    margin-top: -55px;
    font-size: 40px;
    width: calc(100% - 100px); /* Coincide con el margen de .center (50px a cada lado) */
    text-align: center;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}
.about{
    color: white;
    background-color: #1e1e1e;
    padding: 20px 40px;
    margin-top: 10px;
}
.about p{
    margin-top: -10px;
}
.about span{
    color: #95ff87;
    font-weight: 600;
}
.about h1{
    font-family: "Funnel Display", sans-serif;
    color: white;
}
/* Skills */
.skills{
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: -20px;
    margin-left: 40px;
}
.skills .skill{
    margin-left: 10px;
    width: 25%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
 /* Bottom*/
 #bottom{
    background-color: #f3f4f5;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
#bottom{
    margin-top: 50px;
    border-radius: 30px 30px 0px 0px;
}
#bottom ul{
    list-style: none
}
#bottom li{
    margin-bottom: 10px;
}
#bottom img{
    margin-bottom: -5px;
    margin-left: 0;
}
#bottom ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 50px;
}
#bottom ul li a:hover{
    text-decoration: underline;
}
#bottom h3{
    color: #3628ff;
    margin-bottom: 40px;
    margin-left: 90px;
    font-size: 20px;
}
/* Status badges */
.beta{
    background-color: #3c4fff;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 1px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    letter-spacing: 0.6px;
}
.space{
    margin-left: 60px;
}
#off{
    background-color: #ff0000;
}
#on{
    background-color: #54cb56;
}
/* Contact */
.contact-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #1e1e1e;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact-content .form {
    width: 90%;
    margin-left: 50px ;
}
.contact-content .name, .email{
    height: 30px;
}
.contact-content .name, .email, .message {
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    outline: none;
    border: 2px solid #868686;
    background-color: #00000037;
    color: rgb(255, 255, 255);
}
.contact-content .name:focus, .email:focus, .message:focus{
    border: 2px solid #ffffff;
}
.contact-content .submit{
    background-color: rgb(0, 68, 226);
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 30px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 50px -10px rgb(0, 68, 226);
    cursor: pointer;
}
.contact-content .box{
    border-radius: 0px 100px 100px 0px;
    height: 600px!important;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 70%;
    background-color: rgb(0, 68, 226);
    border: none;
}
.contact-content .box h1{
    font-size: 70px;
}
.contact-content .box h3{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.69);
}
.contact-content .box .centry{
    margin-left: 40px;
    margin-right: 40px;
}
#aa{
    opacity: 0;
}
textarea {
    resize: none;
  }
.form {
    display: flex;
    flex-direction: column;
}
.check-container {
    width: 100px;
    height: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
/* Page adaptation */
@media (min-width: 1001px) {
    div.computer-vr{display: flex;}
    div.mobile-vr{visibility: hidden;}
}
@media (max-width: 1000px) {
    div.computer-vr{display: none;}
    div.mobile-vr{display: flex;}
    .hero{margin-top: 2vh !important;}
    svg{display: none;}
    .hero h1{font-size: 70px;}
    .hero div{margin-top: 15px;}
}
@media (max-width: 800px) {
    .hero div{flex-direction: column;margin-top: -5px !important;}
    .hero div h2:nth-child(1){margin-top: -32px;}
    .hero div h2:nth-child(2){margin-left: 0px !important;margin-top: -17px;}
    .hero div h2 {font-size: 32px;margin-top: 0px;width: 100%;}
    .box{display: none;}
}
@media (max-width: 600px) {
    .hero h1{font-size: 40px;}
    .hero div h2:nth-child(1){margin-top: -12px;}
    .center {margin-left: 10px;margin-right: 10px;}
    .skills {margin-top: 10px;margin-left: 0;flex-direction: column;align-items: center;}
    .skill {margin-top: 10px;width: 87%!important;}
    .skill:nth-child(1){margin-top: -25px;}
}
